@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    background-color: #F1F1EB;
}

header {
    width: 100%;
    height: 2000px;
    background-color: #23242a;
}

.header__menu{
    width: 1320px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.header__menu ul li{
    display: inline;
}

.header__menu ul li a {
    color: #4B321D;
    margin-left: 36px;
}

.header__menu ul li a:hover{
    border-bottom: 3px solid #4B321D;
    transition: 0.1s;
   
}

/* header__fenesh */


/* section__start */

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1c1c1c;
    position: relative;
    width: 380px;
    height: 420px;
    margin: auto;
    margin-top: 50px;
    border-radius: 8px;
    overflow: hidden;
}

.box::before
{
    content: '';
    top: -50%;
    left: -50%;
    position: absolute;
    width: 380px;
    height: 420px;
    background:  linear-gradient(0deg,transparent, #45f3ff);
    transform-origin:  bottom right;
    animation: animate 6s linear infinite;
}

.box::after
{
    content: '';
    top: -50%;
    left: -50%;
    position: absolute;
    width: 380px;
    height: 420px;
    background:  linear-gradient(0deg,transparent, #45f3ff);
    transform-origin:  bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}

@keyframes animate {
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}

.form{
    position: absolute;
    inset: 2px;
    border-radius: 8px;
    background: #1c1c1c;
    z-index: 10;
}

.form h2{
    background-color: #1c1c1c;
    color: #45f3ff;
    font-size: 30px;
    margin-left: 10px;
    margin-top: 10px;
}


.form form {
    background-color: #1c1c1c;
}

.form form input {
    border: none;
    border-bottom:2px solid #45f3ff;
    background-color: none;
    width: 300px;
    margin-top: 40px;
    margin-left: 20px;
}

.form form input::placeholder{
    color: #45f3ff;
    background-color: #1c1c1c;
}

/* .form a{
    display: block;
    width: 100px;
    height: 50px;
    color: #F1F1EB;
    background-color: #1c1c1c;
    border: 2px solid #45f3ff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin: auto;
    margin-top: 70px;
} */


.box .submit{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1c1c1c;
    position: relative;
    width: 100px;
    height: 50px;
    margin: auto;
    margin-top: 50px;
    border-radius: 8px;
    overflow: hidden;
}

.box .submit::before
{
    content: '';
    top: -50%;
    left: -50%;
    position: absolute;
    width:  100px;
    height: 50px;
    background:  linear-gradient(0deg,transparent, #45f3ff);
    transform-origin:  bottom right;
    animation: animate 6s linear infinite;
}

.box .submit::after
{
    content: '';
    top: -50%;
    left: -50%;
    position: absolute;
    width:  100px;
    height: 50px;
    background:  linear-gradient(0deg,transparent, #45f3ff);
    transform-origin:  bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}

@keyframes animate {
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}

.submit a{
    position: absolute;
    inset: 2px;
    border-radius: 8px;
    background: #1c1c1c;
    z-index: 10;
    color: #F1F1EB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit:hover{
    color: #45f3ff;
    transition: 670ms;
    transform: rotateY(360deg);
}

